<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context-3.1.xsd
						http://www.springframework.org/schema/aop 
						http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
						http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
						http://www.springframework.org/schema/mvc 
						http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">

	<!-- 配置Spring MVC -->
	<!-- 1：开启Spring MVC注解模式 -->
	<!-- 简化配置： 
		（1）自动注册DefaultAnnotationHanderMappint与AnnotationHanderAdapter 
		（2）提供一系列功能：数据绑定，数字和日期的format @NumberFormat，@DateTimeFormat，xml,json默认读写支持。 -->
	<mvc:annotation-driven />

	<!-- 2：Servlet-mapping 默认路径“/” -->
	<!-- 静态资源默认Servlet配置 1:加入对静态资源的处理，js,gif,png 2:允许使用“/”做整体映射 -->
	<mvc:default-servlet-handler />

	<!-- 3：配置jsp显示ViewResolver -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<!-- 200*1024*1024即200M resolveLazily属性启用是为了推迟文件解析，以便捕获文件大小异常 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="209715200"/>
		<property name="defaultEncoding" value="UTF-8"/>
		<property name="resolveLazily" value="true"/>
	</bean>
	
	<!-- 4:扫描web相关的bean -->
	<context:component-scan base-package="cc.zimageoper.controller" />
	
</beans>